[Unit]
Description=IEC 61499 Runtime for ML related tasks
After=openfb.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/openfb -a 0.0.0.0 -p 61499 -l INFO -u 4840

[Install]
WantedBy=default.target